@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
}

#container {
	width: 800px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.container-narrow {
	margin: 0 auto;
    max-width: 700px;
}

header {
	width: 100%;
	background-color: #c7e2f4;
	height: 50px;
	img {
		padding: 5px;
	}
}

#main {
	width: 100%;
	height: 100%;
	background-color: white;
}

footer {
	width: 800px;
	height: 40px;
	background-color: #bababa;
	position: absolute;
	bottom: 0;
	p{
		width: 300px;
		margin: auto;
		padding-top: 10px;
	}
}
