@(drugs: List[Drug])

@main("index") {

<!--------------------------------Pop-up modal for adding a new trip------------------------------------>
<div id="newtrip" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Have a nice trip!</h3>
    </div>
    <div class="modal-body">
        <p> --add trip form-- </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
</div>

<!--------------------------------Pop-up modal for adding a new drug------------------------------------>
<div id="newdrug" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>What have you ingested now?</h3>
    </div>
    <div class="modal-body">
        <p> -- add drug form-- </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
</div>






<div>
    @for(drug <- drugs) {
    <div class="drugbox">
        <a data-toggle="modal"  href=@routes.PostHandler.getTripModal(drug.name) data-target="#newtrip" name=@drug.name>
            <canvas class="tripCanvas" width="200" height="200"  name=@drug.name ></canvas>
        </a>
    </div>
    }
    @if(drugs.length == 1) {
        @for(a <- 1 to 15) {
            <div class="drugbox">
                <a data-toggle="modal" data-target="#newtrip">
                    <canvas class="tripCanvas" width="200" height="200" name=@a></canvas>
                </a>
            </div>
        }
    }
    <div class="drugbox">
        <a data-toggle="modal"  data-target="#newdrug">
            <img src=@routes.Assets.at("images/add_drug.png")>
        </a>
    </div>
</div>


}
