@(form: Form[Application.Login])

@main("index") {

@helper.form(routes.Application.authenticate) {
<div class="text-center" >
<h1>Sign in</h1>
@if(form.hasGlobalErrors){
<p class="error">
    @form.globalError.message
</p>
}
@if(flash.contains("success")) {
<p class="text-success">
    @flash.get("success")
</p>
}

    <input class="span2" type="text" name="alias" placeholder="Alias" value="@form("alias").value"></br>
    <input class="span2" type="password" name="password" placeholder="Password"></br>
    <input type="submit" value="Login!" class="btn btn-primary"></br></br>

            <!--//TODO here linken  --->
<p class="text-info">Not registered yet? Create a new account <a href=@routes.Application.signup()>HERE</a>!</p>
            }

}
        </div>