@(form: Form[Application.Login])

@main("") {

    @helper.form(routes.Application.authenticate) {
        <div class="text-center">
            <h1>Login</h1>
            @if(form.hasGlobalErrors){
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <strong>Error!</strong> @form.globalError.message
            </div>
            }

            <input type="text" name="alias" placeholder="Alias" value="@form(" alias").value"></br>
            <input type="password" name="password" placeholder="Password"></br>
            <input type="submit" value="Login!" class="btn btn-primary"></br></br>

            <!--//TODO here linken  --->
            <p class="text-info">Not registered yet? Create a new account <a href=@routes.Application.signup()>HERE</a>!</p>
        </div>
    }
}
