@(page: String)(content: Html)

<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->
<head>
    <meta charset='utf-8' />
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
    <title>TRIP logger</title>
    <meta content='A logging web application for all your trips.' name='description' />
    <meta content='The MAKETEK guys' name='author' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=@routes.Assets.at("stylesheets/style.css") rel='stylesheet' />
    <link href=@routes.Assets.at("stylesheets/bootstrap.css") rel='stylesheet' />
    <link href=@routes.Assets.at("stylesheets/bootstrap-responsive.css") rel='stylesheet' />
</head>
<body onload="setAlert()">
<div class="container-narrow" id='container'>
    <header>

        <div class="navbar">
            <div class="navbar-inner">

                <ul class="nav">
                    @if(page == "index") {
                        <li class="active"><a href=@routes.Application.index()>Home</a></li>
                    } else {
                        <li><a href=@routes.Application.index()>Home</a></li>
                    }

                    @if(page == "trip") {
                    <li class="active"><a href=@routes.Application.advancedtrip()>Trip</a></li>
                    } else {
                    <li><a href=@routes.Application.advancedtrip()>Trip</a></li>
                    }

                    @if(page == "buddy") {
                    <li class="active"><a href=@routes.Application.buddylist()>Buddy's</a></li>
                    } else {
                    <li><a href=@routes.Application.buddylist()>Buddy's</a></li>
                    }

                    @if(page == "stats") {
                    <li class="active"><a href=@routes.Application.stats()>Statistics</a></li>
                    } else {
                    <li><a href=@routes.Application.stats()>Statistics</a></li>
                    }

                    @if(page == "profile") {
                    <li class="active"><a href=@routes.Application.profile()>Profile</a></li>
                    } else {
                    <li><a href=@routes.Application.profile()>Profile</a></li>
                    }
                </ul>
                <a href=@routes.Application.index() class="muted pull-right"><img src=@routes.Assets.at("images/logo.png") /></a>
            </div>
        </div>
    </header><!-- /header -->
    <div id='main' class="well" role='main'>
        @if(session.contains("success")) {
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <strong>Success!</strong>  @session.get("success")
            @session.remove("success")
        </div>
        }
        @if(session.contains("error")) {
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <strong>Error!</strong>  @session.get("error")
            @session.remove("error")
        </div>
        }
        @if(session.contains("info")) {
        <div class="alert alert-info">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <strong>Info!</strong>  @session.get("info")
            @session.remove("info")
        </div>
        }
        @if(session.contains("warning")) {
        <div class="alert">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <strong>Warning!</strong>  @session.get("warning")
            @session.remove("warning")
        </div>
        }

        @content
    </div><!-- /main -->
    <footer class="well well-small"><p>&copy; TRIPlogger 2013 by MAKETEK</p></footer><!-- /footer -->
</div><!-- /container -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src=@routes.Assets.at("javascripts/bootstrap.js")></script>
<script src=@routes.Assets.at("javascripts/modernizr-2.0.6.min.js")></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>
    window.jQuery || document.write("<script src='javascripts/jquery-1.6.2.min.js'>\x3C/script>")
</script>
    <script src=@routes.Assets.at("javascripts/plugins.js")></script>
    <script src=@routes.Assets.at("javascripts/script.js")></script>
    <!--[if lt IE 7]>
    <script src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js'></script>
    <script>
        window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})});
    </script>
    <![endif]-->
</body>
</html>
<!DOCTYPE html>
