@(form: Form[UserModel])

@main("index") {
@helper.form(routes.PostHandler.adduser) {
<div class="text-center" >
    <h1>Register!</h1>
    @if(flash.contains("error")) {
    <p class="text-error">
        @flash.get("error")
    </p>
    }

<input type="text" name="alias" placeholder="Alias" value="@form("alias").value"></br>
    <input type="email" name="email" placeholder="Email" value="@form("email").value"></br>
<input type="password" name="password" placeholder="Password"></br>
<input type="submit" value="Sign Up!" class="btn btn-primary"></br></br>
    </div>
}
        }